body{
      background-color:aqua;
}
html{

      font-size:2rem;
}
.hello{
      
      
      
      border: 10px solid black ;
      size-adjust: 60%;
      float:left;
} 
      
   #one{
      

   }
      

h2{
      text-align: center;
}
#contact{
      color:blueviolet;
}
@media (max-width: 390px) {
      body{
            background-color:aqua;
            
      }
     img{
      size:50%;
     }
html{
      font-size:1rem;
}
}