body{
      background-color:yellowgreen
}
html{

      font-size:2rem;
}
.hello{
      
      
      
      border: 5px solid black ;
      size-adjust: 60%;
      float:left;
} 
      
   
      

h2{
      text-align: center;
}
#contact{
      color:blueviolet
}
@media (max-width: 310px) {
      body{
            background-color:aqua
            
      }
     img{
      size:50%;
     }
html{
      font-size:1rem;
}
}
