body{
      background-color:yellowgreen
}
html{

      font-size:2rem;
}
.hello{
      position:inline-block;
      padding:0px;
      border: solid black 5px;
      float:left;
} 
      
     
      

h2{
      text-align: center;
}
#contact{
      color:blueviolet
}
@media (max-width: 419px) {
      body{
            background-color:aqua
            
      }
     
html{
      font-size:1rem;
}
}